:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

/* ФИКСИРОВАННАЯ ВЕРХНЯЯ ШАПКА */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 53px;
  z-index: 1000;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* ФИКСИРОВАННОЕ НИЖНЕЕ МЕНЮ */
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 67px;
  z-index: 1000;
  background: #ffffff;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.05);
}

/* ОСНОВНОЙ КОНТЕЙНЕР - СОХРАНЯЕМ ОРИГИНАЛЬНЫЕ РАЗМЕРЫ */
.main-container {
  position: relative;
  width: 395px;
  min-height: 720px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  transform-origin: top center;
}

.root {
  position: absolute;
  height: 720px;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(252, 252, 252, 0);
}
.groups {
  position: relative;
  width: 395px;
  height: 53px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 48;
}
.my-ticket {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 21.5px;
  right: 275px;
  bottom: 18px;
  color: #505259;
  font-family: Inter, var(--default-font-family);
  font-size: 19.3px;
  font-weight: 500;
  line-height: 21.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.image {
  position: absolute;
  width: 20.5px;
  height: 21px;
  right: 48px;
  bottom: 17px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-11/UaJxXxb1X2.png)
    no-repeat center;
  background-size: cover;
  z-index: 51;
}
.image-1 {
  position: absolute;
  width: 3.5px;
  height: 15.5px;
  right: 19.5px;
  bottom: 19.5px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-11/jf0YND1RMo.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
}
.image-2 {
  position: relative;
  width: 395px;
  height: 600.5px;
  margin: 0 0 0 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-11/ACPDDKQJXV.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
  overflow: visible auto;
}
.groups-3 {
  position: relative;
  width: 395px;
  height: 480px;
  margin: 1.5px 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 23;
  overflow: visible auto;
}
.groups-4 {
  position: relative;
  width: 371px;
  height: 58px;
  margin: 23px 0 0 13.5px;
  background: rgba(0, 0, 0, 0);
  z-index: 43;
  overflow: visible auto;
}
.background {
  position: relative;
  width: 365px;
  height: 57.5px;
  margin: 1px 0 0 3px;
  background: #3b4048;
  border: 1px solid #696776;
  z-index: 44;
  border-radius: 21.5px 21.5px 0 0;
}
.time {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 26px;
  right: 252.5px;
  bottom: 16.5px;
  color: #e9e9ea;
  font-family: Inter, var(--default-font-family);
  font-size: 21.8px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 47;
}
.date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  right: 14px;
  bottom: 12.5px;
  color: #e2e3e4;
  font-family: Inter, var(--default-font-family);
  font-size: 22.35px;
  font-weight: 600;
  line-height: 27.05px;
  text-align: left;
  white-space: nowrap;
  z-index: 46;
}
.image-5 {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 323.5px;
  bottom: 16px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-11/yN9xjPs7yh.png)
    no-repeat center;
  background-size: cover;
  z-index: 45;
}
.background-6 {
  position: relative;
  width: 366px;
  height: 118px;
  margin: 0.5px 0 0 16px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-11/fUD5nFbQNe.png)
    no-repeat center;
  background-size: cover;
  z-index: 37;
  overflow: visible auto;
}
.groups-7 {
  position: relative;
  width: 366.5px;
  height: 114.5px;
  margin: 3px 0 0 -0.5px;
  background: rgba(0, 0, 0, 0);
  z-index: 36;
}
.flex-row {
  position: absolute;
  width: 239px;
  height: 78px;
  right: 64px;
  bottom: 19.5px;
  z-index: 42;
}
.background-8 {
  position: absolute;
  width: 2px;
  height: 65px;
  right: 118.5px;
  bottom: 6.5px;
  background: rgba(255, 255, 255, 0.4);
  z-index: 38;
}
.number-20 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 44px;
  right: 0;
  bottom: 29.5px;
  color: #42454f;
  font-family: Inter, var(--default-font-family);
  font-size: 42.45px;
  font-weight: 500;
  line-height: 44px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.number-44 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 43px;
  right: 182px;
  bottom: 30px;
  color: #42454e;
  font-family: Inter, var(--default-font-family);
  font-size: 42.35px;
  font-weight: 500;
  line-height: 43px;
  text-align: left;
  white-space: nowrap;
  z-index: 42;
}
.flex-row-d {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 240.5px;
  height: 19px;
  right: 61px;
  bottom: 18.5px;
  z-index: 41;
}
.minutes {
  flex-shrink: 0;
  position: relative;
  height: 18.5px;
  color: #555660;
  font-family: Inter, var(--default-font-family);
  font-size: 13.6px;
  font-weight: 500;
  line-height: 18.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}
.seconds {
  flex-shrink: 0;
  position: relative;
  height: 19px;
  color: #575861;
  font-family: Inter, var(--default-font-family);
  font-size: 13.35px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 39;
}
.groups-9 {
  position: relative;
  width: 368px;
  height: 276.5px;
  margin: 0 0 0 15px;
  background: rgba(0, 0, 0, 0);
  z-index: 24;
}
.background-a {
  position: absolute;
  width: 366.5px;
  height: 273.5px;
  right: 0;
  bottom: 1.5px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-11/7vUZLCadqa.png)
    no-repeat center;
  background-size: cover;
  z-index: 25;
}
.groups-b {
  position: absolute;
  width: 368px;
  height: 117.5px;
  right: 0;
  bottom: 157.5px;
  background: rgba(0, 0, 0, 0);
  z-index: 30;
}
.flex-row-bc {
  position: relative;
  width: 209px;
  height: 26px;
  margin: 22px 0 0 81px;
  z-index: 35;
}
.ticket {
  position: absolute;
  width: 142px;
  height: 25.5px;
  right: 67px;
  bottom: 0.5px;
  font-family: Inter, var(--default-font-family);
  font-size: 20.2px;
  font-weight: 400;
  line-height: 24.45px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 35;
}
.ticket-info {
  position: relative;
  color: #4b4e54;
  font-family: Inter, var(--default-font-family);
  font-size: 20.2px;
  font-weight: 400;
  line-height: 24.45px;
  text-align: left;
}
.price {
  position: relative;
  color: #4b4e54;
  font-family: Inter, var(--default-font-family);
  font-size: 20.2px;
  font-weight: 600;
  line-height: 24.45px;
  text-align: left;
}
.currency {
  position: relative;
  color: #4b4e54;
  font-family: Inter, var(--default-font-family);
  font-size: 20.2px;
  font-weight: 500;
  line-height: 24.45px;
  text-align: left;
}
.button {
  position: absolute;
  width: 67px;
  height: 25.5px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 32;
}
.background-c {
  position: relative;
  width: 62.5px;
  height: 20px;
  margin: 3.5px 0 0 2.5px;
  background: #fefefe;
  border: 1px solid #ccc3f2;
  z-index: 33;
  border-radius: 9px;
}
.travel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 13.5px;
  right: 8px;
  bottom: 3px;
  color: #cac1f3;
  font-family: Inter, var(--default-font-family);
  font-size: 11.35px;
  font-weight: 600;
  line-height: 13.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.mpv-vpopat {
  display: block;
  position: relative;
  height: 21px;
  margin: 25px 0 0 106px;
  color: #a1a0b7;
  font-family: Inter, var(--default-font-family);
  font-size: 17.4px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.image-d {
  position: relative;
  width: 367px;
  height: 0.5px;
  margin: 23.5px 0 0 0;
  border: 1px dashed #c3b7f0;
  z-index: 29;
}
.groups-e {
  position: absolute;
  width: 368px;
  height: 157px;
  right: 0;
  bottom: 0;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 26;
}
.ab-531-25 {
  display: block;
  position: relative;
  height: 46.5px;
  margin: 22.5px 0 0 103.5px;
  color: #4b4d57;
  font-family: Inter, var(--default-font-family);
  font-size: 34.75px;
  font-weight: 400;
  line-height: 42.06px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
}
.no-95 {
  display: block;
  position: relative;
  height: 32.5px;
  margin: 24px 0 0 149px;
  color: #454851;
  font-family: Inter, var(--default-font-family);
  font-size: 26.7px;
  font-weight: 500;
  line-height: 32.313px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.groups-f {
  position: relative;
  width: 369px;
  height: 53.5px;
  margin: 50.5px 0 0 14px;
  background: rgba(0, 0, 0, 0);
  z-index: 16;
}
.button-10 {
  position: absolute;
  width: 186.5px;
  height: 53.5px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 17;
}
.background-11 {
  position: relative;
  width: 182.5px;
  height: 49.5px;
  margin: 2.5px 0 0 2.5px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-11/GcabvcuBrM.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}
.buy-ticket {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  right: 35.5px;
  bottom: 15.5px;
  color: #f4d0eb;
  font-family: Inter, var(--default-font-family);
  font-size: 13.7px;
  font-weight: 500;
  line-height: 16.58px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.button-12 {
  position: absolute;
  width: 170.5px;
  height: 53.5px;
  right: 198.5px;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 20;
}
.background-13 {
  position: relative;
  width: 166px;
  height: 49.5px;
  margin: 2.5px 0 0 2.5px;
  background: #fefefe;
  border: 1px solid #e7e0f8;
  z-index: 21;
  border-radius: 23px;
}
.present {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19.5px;
  right: 34px;
  bottom: 14.5px;
  color: #55565b;
  font-family: Inter, var(--default-font-family);
  font-size: 15.75px;
  font-weight: 500;
  line-height: 19.061px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}

/* НИЖНЕЕ МЕНЮ */
.background-14 {
  position: relative;
  width: 100%;
  height: 67px;
  background: #ffffff;
  z-index: 1;
}
.groups-15 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  cursor: pointer;
}

.footer-item:first-child .footer-text {
  color: #59595d;
}

.footer-item:first-child .footer-icon {
  opacity: 1;
}

.footer-icon {
  width: 22px;
  height: 22px;
  margin-bottom: 5px;
  opacity: 0.7;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Иконки для нижнего меню в правильном порядке */
.footer-item:nth-child(1) .footer-icon {
  background-image: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-11/bzGRyX31A3.png);
}

.footer-item:nth-child(2) .footer-icon {
  background-image: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-11/m7NXfjTwMY.png);
}

.footer-item:nth-child(3) .footer-icon {
  background-image: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-11/S4j53JCxXc.png);
}

.footer-item:nth-child(4) .footer-icon {
  background-image: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-11/2NWKWEaOmo.png);
}

.footer-text {
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: center;
  color: #a1a0b6;
  white-space: nowrap;
}

.image-17,
.image-19,
.image-1c,
.image-1e {
  display: none; /* Скрываем старые иконки */
}

.history,
.my-ticket-1a,
.payment,
.menu {
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: center;
  color: #a1a0b6;
  white-space: nowrap;
}

.my-ticket-1a {
  color: #59595d;
}

.groups-16,
.groups-18,
.groups-1b,
.groups-1d {
  display: none; /* Скрываем старые группы */
}

.background-1f {
  display: none;
}

/* АДАПТИВНЫЕ СТИЛИ ДЛЯ МОБИЛЬНЫХ */
@media only screen and (max-width: 400px) {
  .main-container {
    width: 100%;
    max-width: 395px;
    transform: none;
  }
  
  .root {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .image-2 {
    width: 100%;
    height: auto;
    min-height: 600px;
    background-size: contain;
  }
  
  .groups-3,
  .groups-4,
  .background,
  .background-6,
  .groups-9,
  .groups-f {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  
  .background {
    width: 95%;
    margin: 0 auto;
  }
  
  .background-6 {
    width: 95%;
    margin: 10px auto;
  }
  
  .groups-9 {
    width: 95%;
    margin: 0 auto;
  }
  
  .groups-f {
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .button-10,
  .button-12 {
    position: relative;
    width: 100%;
    max-width: 300px;
    right: auto;
  }
  
  .groups-15 {
    padding: 0 5px;
  }
  
  .footer-item {
    width: 23%;
  }
}